<template>
  <div>
    <button class="toggle-button" @click="toggleSidebar">
      <i class="fas fa-bars" style="color: #fafafa"></i>
    </button>
    <div class="sidebar" :class="{ 'sidebar-open': isSidebarOpen }">
      <div class="sidebar-content">
        <!-- Contenido de la barra lateral -->
        <div class="nav-group">
          <a href="#" class="nav-link" @click.prevent="navigateTo('/')">
            <span class="nav-group-header">
              <i class="fa-regular fa-cloud-check"></i>
              <span class="nav-text">&nbsp;&nbsp;Realms</span>
            </span>
          </a>
          <!--
          <div class="submenu">
            <router-link to="/">
              <span class="nav-text">Create Realm</span>
            </router-link>
            <router-link to="/realms">
              <span class="nav-text">View Realms</span>
            </router-link>
          </div> -->
        </div> 
    <!-- GROUPS 
    <div class="nav-group">
      <span class="nav-group-header" @click="toggleGroupsMenu">
        <i class="fa-duotone fa-user-group"></i>
        <span class="nav-text">&nbsp;Groups</span>
      </span>
      <div class="submenu" v-show="showGroupsMenu">
        <router-link to="/create-group" @click.native="closeMenus">
          <span class="nav-text">Create Group</span>
        </router-link>
        <router-link to="/groups" @click.native="closeMenus">
          <span class="nav-text">View Groups</span>
        </router-link>
      </div>
    </div>
    -->

    <!-- USERS 
    <div class="nav-group">
      <span class="nav-group-header" @click="toggleUsersMenu">
        <i class="fa-duotone fa-user-group"></i>
        <span class="nav-text">&nbsp;Users</span>
      </span>
      <div class="submenu" v-show="showUsersMenu">
        <router-link to="/create-user" @click.native="closeMenus">
          <span class="nav-text">Create user</span>
        </router-link>
        <router-link to="/users" @click.native="closeMenus">
          <span class="nav-text">Users</span>
        </router-link>
      </div>
    </div>
    -->
  </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isSidebarOpen: false
    };
  },
  methods: {
    toggleSidebar() {
      this.isSidebarOpen = !this.isSidebarOpen;
    },
    navigateTo(route) {
      tauri.promisified.invoke({
        cmd: 'setUrl',
        payload: route
      });
    }
  }
};
</script>

<style scoped>
.sidebar {
  background: #212121;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  color: #fff;
  transform: translateX(-100%);
}

.sidebar-open {
  transform: translateX(0%);
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2000;
}

.toggle-button i {
  font-size: 24px;
}

.sidebar-content {
  padding-top: 60px;
}

.nav-group {
  margin-top: 10px;
}

.nav-group-header {
  display: flex;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-left: 5%;
  margin-top: 8%;
  margin-bottom: 5%;
}

.submenu {
  background: #292929;
  padding: 10%;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  transition: all 0.1s linear;
  margin-bottom: 5px;
  margin-top: 8%;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:focus,
.nav-link:active,
.nav-link:hover {
  color: inherit;
  outline: none;
}
</style>