<template>
  <!-- Icons-->
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
  <!-- Fonts Google-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Roboto&display=swap" rel="stylesheet">
  
  <div id="app">
    <Sidebar :isSidebarOpen="isSidebarOpen" @toggleSidebar="toggleSidebar" />
    <Realm />
    <router-view />
  </div>
</template>

<script>
import Sidebar from "./components/Sidebar.vue";
import Realm from "./components/Realms.vue";
import CreateRealm from "./components/CreateRealm.vue";


export default {
  components: {
    Sidebar,
    Realm,
    CreateRealm
  },
  data() {
    return {
      isSidebarOpen: false,
    };
  },
  methods: {
    toggleSidebar() {
      this.isSidebarOpen = !this.isSidebarOpen;
    }
  }
};
</script>

<style>
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #838383; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #151515; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>
